$color-primary: #FF884B;
$main-footer-bg: #1D2D43;
$main-footer-text: #d3dce6;
$main-footer-height: 36px;
$main-header-bg: #1D2D43;
$main-header-text: #ffffff;
$main-header-height: 45px;
$main-aside-bg: #1F3149;
$global-font-size-small: 12px;
$global-font-size-medium: 14px;
$menu-min-width: 180px;
$menu-inline-item: #243b55;
$menu-item-hover: rgba(0,0,0,.2);